* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

body {
    background-color: white;
}

.categoria_div {
    position: relative;
    left: 30vw;
    top: 40vh;
    width: 40vw;    
    height: 20vh;
    background-color: ;
}