
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.index_div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    height: 50vh;

    position: relative;
    left: 35%;
    top: 20vh;

    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #00b4d8 ;
}

a{
	font-size: 20px;
	color: black;
}

.div_button {
    height: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    position: relative;
}

.index_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 15vw;
	height: 100%;
    padding: 5px;
    border: 2px solid #00b4d8;
    border-radius: 30px;
    text-decoration: none;    
}

.index_buttons:hover {
    background-color: #00b4d8;
    
}

